/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');*/

.custom-combo-box::part(item) {
    padding-left: 0; /* Убираем отступ слева у элементов выпадающего списка */
    text-align: center; /* Центрируем содержимое (опционально) */
}

.custom-combo-box::part(input-field) {
    padding-left: 0; /* Убираем отступ слева у поля ввода */
    text-align: center; /* Центрируем текст в поле ввода */
}